@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  background-color: inherit;

  padding: 3.5px;
}

.react-datepicker__input-container {
  border: 0.5px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
}

.react-datepicker__header {
  background-color: #24292e !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fff !important;
}

.react-datepicker button {
  margin-top: 5px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.g-recaptcha {
  width: 100%;
}

.md h1 {
  font-size: 36px;
}

.md h2 {
  font-size: 32px;
}

.md h3 {
  font-size: 28px;
}

.md h4 {
  font-size: 24px;
}

.md h5 {
  font-size: 20px;
}

.md p {
  line-height: 24px;
  margin: 4px 0px;
  padding: 4px 0px;
}

.md a {
  color: blue;
  text-decoration: underline;
}

.md div {
  border-radius: 12px;
  margin: 8px 0px;
}

.md ul,
.md ol,
.md dl {
  margin: 16px 0px;
  padding-left: 32px;
}

.md blockquote {
  color: white;
  border: 1px solid #47a5bf;
  background-color: #47a5bf;
  padding-left: 8px;
}

.md a {
  color: inherit;
}

.md a:visited {
  color: #47a5bf !important;
}

.md ul {
  list-style: disc;
}

.md ol {
  list-style: list-decimal;
}

.md li p:last-child {
  margin: 0;
}

.md img {
  max-width: 100%;
}

::-moz-selection {
  background-color: #47a5bf;
  color: white;
}

::selection {
  background-color: #47a5bf;
  color: white;
}
